.tipDetailImage {
  width: 500px;
  border-radius: 15px;
}

.tipDetailDescription {
  white-space: pre-wrap;
  margin: 5%;
}

.tipDetailSubstitution {
  margin: 5%;
}

.tipDetailSecondTitle {
  border: 3px solid grey;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
}
